# Build folders
SC-TS3-DA-Plugin/
x64/
Debug/
Release/

# Visual Studio files
*.suo
*.user
*.vcxproj.user
*.pdb
*.obj
*.exe
*.dll
*.idb
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.cache
*.log

# OS files
.DS_Store
Thumbs.db
